<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand animate__animated animate__zoomIn" [routerLink]="'/inicio'"><strong><span class="text-primary">M</span>EGAPRO | ACCESO A LA EDUCACIÓN SUPERIOR</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item mx-3">
          <a class="nav-link active text-primary animate__animated animate__zoomIn"
             style="font-size: 17px" [routerLink]="'/nuestros-simuladores'"><i class="bi bi-pc-display-horizontal"></i> Simuladores</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link active text-primary animate__animated animate__zoomIn"
             href="/ejercicios" target=""><i class="bi bi-card-checklist"></i> Ejercicios</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link active text-primary animate__animated animate__zoomIn"
             href="#"><i class="bi bi-card-list"></i> Registro</a>
        </li>

        <li *ngIf="isChecking" class="nav-item mx-3">
          <a class="btn btn-outline-light bg-white active animate__animated animate__fadeIn"><i class="bi bi-minecart-loaded"></i> ... </a>
        </li>
        <li *ngIf="!loggedIn && !isChecking" class="nav-item mx-3">
          <a class="btn btn-success active animate__animated animate__fadeIn"
             [routerLink]="'/login'"><i class="bi bi-box-arrow-in-right"></i> Iniciar Sesión</a>
        </li>
        <li *ngIf="loggedIn && !isChecking" class="nav-item dropdown">
          <button class="btn btn-link nav-link dropdown-toggle animate__animated animate__fadeIn" data-bs-toggle="dropdown" href="#" role="button"
             aria-expanded="false"><span class="bg-primary text-white rounded-circle p-2"><strong>{{letterUser}}</strong></span></button>
          <ul class="dropdown-menu">
            <li><button class="dropdown-item bi-person-badge"[routerLink]="['/perfil']"> Perfil</button></li>
            <li><button (click)="onLogout()" class="dropdown-item bi-arrow-left"> Salir</button></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</nav>
<!--  <div-->
<!--    *ngIf="alert.isActive"-->
<!--    [className]="'alert d-flex justify-content-center mb-0 ' + alert.severity"-->
<!--    role="alert"-->
<!--  >-->
<!--    <span class="alert-mega" [innerHTML]="alert.value"></span>-->
<!--  </div>-->

