<footer class="bg-footer text-center text-lg-start">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12 mb-4 my-5 r">
        <h5 class="text-uppercase font-bold">Plataforma Megapro</h5>
        <p>
          La mejor plataforma para practicar el examen para el acceso a la Educación Superior en el Ecuador.
          Con nuestros simuladores y ejercicios podrás potencias tus habilidades en todas los temas y subtemas correspondiente al temario actual del Examen.
        </p>
        <div class="d-flex justify-content-center">
          <img
            style="height: 100px; width: 100px"
            src="https://cdn-icons-png.flaticon.com/512/752/752688.png"
            alt="image"
            class="img-fluid my-2"
          >
        </div>

      </div>

      <div class="col-lg-4 col-md-12 mb-4 my-5 mb-md-0">
        <h5 class="text-uppercase font-bold">NOSOTROS</h5>
        <p>
          Somos líderes en la correcta preparación de los jóvenes aspirantes a ingresar a instituciones
          superiores del Ecuador. ¡No pares de aprender!
        </p>
        <p>Encuentranos en nuestras redes sociales: </p>
        <div class="d-flex justify-content-center my-5">
          <a class="btn btn-outline-primary btn-lg mx-1" href="https://www.facebook.com/megaproec" target="_blank"><i class="bi bi-facebook"></i></a>
          <a class="btn btn-outline-dark btn-lg mx-1" href="https://www.tiktok.com/@megaproec" target="_blank"><i class="bi bi-tiktok"></i></a>
          <a class="btn btn-outline-danger btn-lg mx-1" href="https://www.youtube.com/MEGACLASES" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 mb-4 my-5 mb-md-0">
        <h5 class="text-uppercase font-bold">MEGAPRO</h5>
        <div class="d-flex justify-content-center my-5">
          <a routerLink="/terminos_y_condiciones" target="_blank" class="btn btn-link">Términos y Condiciones</a>
          <a routerLink="/politicas_y_privacidad" target="_blank" class="btn btn-link">Políticas de Privacidad</a>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <strong>MEGPAPRO S.A.</strong>
  </div>
</footer>
