.sidebar {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  //background-color: #ff0606;
  overflow-x: hidden;
  transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  //  transition: 0.3s
  //padding-top: 60px;
}

.border-buttons{
  border-right: 1px solid gray;
}



.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}


.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: rgba(255, 255, 255, 0.1);
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba(255, 255, 255, 0.9)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  //tranition: transform .3s ease;
  transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


:host ::ng-deep .btn-custom {
  width: 32px !important;
  height: 32px !important;
  margin: 2px !important;
  border-radius: 0.25rem !important;
  background-color: #DAD2CF;
  -webkit-box-shadow: -1px 3px 7px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 3px 7px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 3px 7px -4px rgba(0, 0, 0, 0.75);
  font-weight: bold;
}
