<div class="container">
  <h1 class="c7 c9" id="h.l9tahwbav11l">
    <span class="c6">T&eacute;rminos y Condiciones</span>
  </h1>
  <p class="c5"><span class="c1">Actualizado el 2023-01-28</span></p>
  <h1 class="c2" id="h.q87ctj5ynkul">
    <span class="c6">T&eacute;rminos generales</span>
  </h1>
  <p class="c5">
      <span class="c1"
      >Al acceder y realizar un pedido con Plataforma Megapro, usted confirma
        que est&aacute; de acuerdo y sujeto a los t&eacute;rminos de servicio
        contenidos en los T&eacute;rminos y condiciones que se describen a
        continuaci&oacute;n. Estos t&eacute;rminos se aplican a todo el sitio
        web y a cualquier correo electr&oacute;nico u otro tipo de
        comunicaci&oacute;n entre usted y Plataforma Megapro.</span
      >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <p class="c5">
      <span class="c1"
      >Bajo ninguna circunstancia el equipo de Plataforma Megapro ser&aacute;
        responsable de ning&uacute;n da&ntilde;o directo, indirecto, especial,
        incidental o consecuente, que incluye, entre otros, la p&eacute;rdida de
        datos o ganancias que surjan del uso o la incapacidad de usar, los
        materiales de este sitio, incluso si el equipo de Plataforma Megapro o
        un representante autorizado han sido informados de la posibilidad de
        tales da&ntilde;os. Si su uso de materiales de este sitio resulta en la
        necesidad de servicio, reparaci&oacute;n o correcci&oacute;n de equipos
        o datos, usted asume los costos de los mismos.</span
      >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <p class="c5">
      <span class="c1"
      >Plataforma Megapro no ser&aacute; responsable de ning&uacute;n
        resultado que pueda ocurrir durante el curso del uso de nuestros
        recursos. Nos reservamos el derecho de cambiar los precios y revisar la
        pol&iacute;tica de uso de recursos en cualquier momento.</span
      >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <h1 class="c2" id="h.binn5f4xzzyv"><span class="c6">Licencia</span></h1>
  <p class="c7 c12">
      <span class="c1"
      >Plataforma Megapro le otorga una licencia revocable, no exclusiva,
        intransferible y limitada para descargar, instalar y usar la website
        estrictamente de acuerdo con los t&eacute;rminos de este Acuerdo. Estos
        T&eacute;rminos y condiciones son un contrato entre usted y Plataforma
        Megapro (&quot;nosotros&quot;, &quot;nuestro&quot; o &quot;nos&quot;) le
        otorga una licencia revocable, no exclusiva, intransferible y limitada
        para descargar, instalar y utilizar el sitio web estrictamente de
        acuerdo con los t&eacute;rminos de este Acuerdo.</span
      >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <h1 class="c2" id="h.fbh9ux931toj">
    <span class="c6">Definiciones y t&eacute;rminos clave</span>
  </h1>
  <p class="c5">
      <span class="c1"
      >Para ayudar a explicar las cosas de la manera m&aacute;s clara posible
        en estos T&eacute;rminos y Condiciones, cada vez que se hace referencia
        a cualquiera de estos t&eacute;rminos, se definen estrictamente
        como:</span
      >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <ul class="c11 lst-kix_un2ulktjaqb7-0 start">
    <li class="c0 li-bullet-0">
        <span class="c8">Cookie:</span
        ><span class="c1"
    >&nbsp;peque&ntilde;a cantidad de datos generados por un sitio web y
          guardados por su navegador web. Se utiliza para identificar su
          navegador, proporcionar an&aacute;lisis, recordar informaci&oacute;n
          sobre usted, como su preferencia de idioma o informaci&oacute;n de
          inicio de sesi&oacute;n.</span
    >
    </li>
    <li class="c0 li-bullet-0">
        <span class="c8">Compa&ntilde;&iacute;a:</span
        ><span class="c1"
    >&nbsp;cuando estos Terminos mencionan
          &quot;Compa&ntilde;&iacute;a&quot;, &quot;nosotros&quot;,
          &quot;nos&quot; o &quot;nuestro&quot;, se refiere a Megapro S.A.,
          Guayaquil que es responsable de su informaci&oacute;n en virtud de
          estos T&eacute;rminos y Condiciones.</span
    >
    </li>
    <li class="c0 li-bullet-0">
        <span class="c8">Plataforma:</span
        ><span class="c1"
    >&nbsp;sitio web de Internet, aplicaci&oacute;n web o
          aplicaci&oacute;n digital de cara al p&uacute;blico de Plataforma
          Megapro.</span
    >
    </li>
    <li class="c0 li-bullet-0">
        <span class="c8">Pa&iacute;s:</span
        ><span class="c1"
    >&nbsp;donde se encuentra Plataforma Megapro o los propietarios /
          fundadores de Plataforma Megapro en este caso es Ecuador.</span
    >
    </li>
    <li class="c0 li-bullet-0">
        <span class="c8">Dispositivo:</span
        ><span class="c1"
    >&nbsp;cualquier dispositivo conectado a Internet, como un
          tel&eacute;fono, tablet, computadora o cualquier otro dispositivo que
          se pueda usar para visitar Plataforma Megapro y usar los
          servicios.</span
    >
    </li>
    <li class="c0 li-bullet-0">
        <span class="c8">Servicio:</span
        ><span class="c1"
    >&nbsp;se refiere al servicio brindado por Plataforma Megapro como se
          describe en los t&eacute;rminos relativos (si est&aacute;n
          disponibles) y en esta plataforma.</span
    >
    </li>
    <li class="c0 li-bullet-0">
        <span class="c8">Terceros:</span
        ><span class="c1"
    >&nbsp;se refiere a anunciantes, patrocinadores de concursos, socios
          promocionales y de marketing, y otros que brindan nuestro contenido o
          cuyos productos o servicios que creemos que pueden interesarle.</span
    >
    </li>
    <li class="c0 li-bullet-0">
        <span class="c8">Sitio web:</span
        ><span class="c1"
    >&nbsp;el sitio de Plataforma Megapro al que se puede acceder a
          trav&eacute;s de esta URL: https://plataforma-megapro.com/.</span
    >
    </li>
    <li class="c0 li-bullet-0">
        <span class="c8">Usted:</span
        ><span class="c1"
    >&nbsp;una persona o entidad que est&aacute; registrada con Plataforma
          Megapro para utilizar los Servicios.</span
    >
    </li>
  </ul>
  <p class="c3"><span class="c1"></span></p>
  <h1 class="c2" id="h.dzesbklk9oq6">
    <span class="c6">Restricciones</span>
  </h1>
  <p class="c5">
      <span class="c1"
      >Usted acepta no hacerlo y no permitir&aacute; que otros:</span
      >
  </p>
  <ul class="c11 lst-kix_trwmaxwmnsvd-0 start">
    <li class="c0 li-bullet-0">
        <span class="c1"
        >Licenciar, vender, alquilar, arrendar, asignar, distribuir,
          transmitir, alojar, subcontratar, divulgar o explotar comercialmente
          la plataforma o poner la plataforma a disposici&oacute;n de
          terceros.</span
        >
    </li>
    <li class="c0 li-bullet-0">
        <span class="c1"
        >Modificar, realizar trabajos derivados, desensamblar, descifrar,
          realizar una compilaci&oacute;n inversa o realizar ingenier&iacute;a
          inversa de cualquier parte de la plataforma.</span
        >
    </li>
    <li class="c0 li-bullet-0">
        <span class="c1"
        >Eliminar, alterar u ocultar cualquier aviso de propiedad (incluido
          cualquier aviso de derechos de autor o marca registrada) de sus
          afiliados, socios, proveedores o licenciatarios de la
          plataforma.</span
        >
    </li>
  </ul>
  <p class="c3"><span class="c1"></span></p>
  <p class="c3"><span class="c1"></span></p>
  <h1 class="c2" id="h.thw2f6i9yli">
    <span class="c6">Pol&iacute;tica de Devoluci&oacute;n y Reembolso</span>
  </h1>
  <p class="c5">
      <span class="c1"
      >Gracias por comprar en Plataforma Megapro. Apreciamos el hecho de que
        le guste comprar las cosas que construimos. Tambi&eacute;n queremos
        asegurarnos de que tenga una experiencia gratificante mientras explora,
        eval&uacute;a y compra nuestros productos.</span
      >
  </p>
  <p class="c5">
      <span class="c1"
      >Al igual que con cualquier experiencia de compra, existen
        t&eacute;rminos y condiciones que se aplican a las transacciones en
        Plataforma Megapro. Seremos tan breves como lo permitan nuestros
        abogados. Lo principal que debe recordar es que al realizar un pedido o
        realizar una compra en Plataforma Megapro, acepta los t&eacute;rminos
        junto con la Pol&iacute;tica de privacidad de Plataforma Megapro.</span
      >
  </p>
  <p class="c5">
      <span class="c1"
      >Si por alguna raz&oacute;n no est&aacute; completamente satisfecho con
        alg&uacute;n bien o servicio que le brindamos, no dude en contactarnos y
        discutiremos cualquiera de los problemas que est&eacute; atravesando con
        nuestro producto.</span
      >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <h1 class="c2" id="h.mkkjsyh28abn">
    <span class="c6">Tus sugerencias</span>
  </h1>
  <p class="c5">
      <span class="c1"
      >Cualquier, comentario, idea, mejora o sugerencia (colectivamente,
        &quot;Sugerencias&quot;) que usted proporcione a Plataforma Megapro con
        respecto a la plataforma seguir&aacute; siendo propiedad &uacute;nica y
        exclusiva de Plataforma Megapro. Plataforma Megapro tendr&aacute; la
        libertad de usar, copiar, modificar, publicar o redistribuir las
        Sugerencias para cualquier prop&oacute;sito y de cualquier manera sin
        ning&uacute;n cr&eacute;dito o compensaci&oacute;n para usted.</span
      >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <h1 class="c2" id="h.arvnaaenmchy">
    <span class="c6">Tu consentimiento</span>
  </h1>
  <p class="c5">
      <span class="c1"
      >Hemos actualizado nuestros T&eacute;rminos y condiciones para brindarle
        total transparencia sobre lo que se establece cuando visita nuestro
        sitio y c&oacute;mo se utiliza. Al utilizar nuestra plataforma,
        registrar una cuenta o realizar una compra, por la presente acepta
        nuestros T&eacute;rminos y condiciones.</span
      >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <h1 class="c2" id="h.kh7beouobfem">
    <span class="c6">Enlaces a otros Sitios Web</span>
  </h1>
  <p class="c5">
      <span class="c1"
      >Estos T&eacute;rminos y Condiciones se aplican solo a los Servicios.
        Los Servicios pueden contener enlaces a otros sitios web que Plataforma
        Megapro no opera ni controla. No somos responsables por el contenido, la
        precisi&oacute;n o las opiniones expresadas en dichos sitios web, y
        dichos sitios web no son investigados, monitoreados o verificados por
        nuestra precisi&oacute;n o integridad. Recuerde que cuando utiliza un
        enlace para ir de los Servicios a otro sitio web, nuestros
        T&eacute;rminos y condiciones dejan de estar vigentes. Su
        navegaci&oacute;n e interacci&oacute;n en cualquier otro sitio web,
        incluidos aquellos que tienen un enlace en nuestra plataforma,
        est&aacute;n sujetos a las propias reglas y pol&iacute;ticas de ese
        sitio web. Dichos terceros pueden utilizar sus propias cookies u otros
        m&eacute;todos para recopilar informaci&oacute;n sobre usted.</span
      >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <h1 class="c2" id="h.kcmvhnz9vfvs"><span class="c6">Cookies</span></h1>
  <p class="c5">
      <span class="c1"
      >Plataforma Megapro utiliza &quot;cookies&quot; para identificar las
        &aacute;reas de nuestro sitio web que ha visitado. Una cookie es una
        peque&ntilde;a porci&oacute;n de datos que su navegador web almacena en
        su computadora o dispositivo m&oacute;vil. Usamos cookies para mejorar
        el rendimiento y la funcionalidad de nuestra plataforma, pero no son
        esenciales para su uso. Sin embargo, sin estas cookies, es posible que
        ciertas funciones, como los videos, no est&eacute;n disponibles o se le
        solicitar&aacute; que ingrese sus datos de inicio de sesi&oacute;n cada
        vez que visite la plataforma, ya que no podr&iacute;amos recordar que
        hab&iacute;a iniciado sesi&oacute;n anteriormente. La mayor&iacute;a de
        los navegadores web se pueden configurar para desactivar el uso de
        cookies. Sin embargo, si desactiva las cookies, es posible que no pueda
        acceder a la funcionalidad de nuestro sitio web correctamente o en
        absoluto. Nunca colocamos informaci&oacute;n de identificaci&oacute;n
        personal en cookies.</span
      >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <h1 class="c2" id="h.8hujr23c1">
    <span class="c6">Cambios en nuestros T&eacute;rminos y Condiciones</span>
  </h1>
  <p class="c5">
      <span class="c1"
      >Usted reconoce y acepta que Plataforma Megapro puede dejar de brindarle
        (de forma permanente o temporal) el Servicio (o cualquier funci&oacute;n
        dentro del Servicio) a usted o a los usuarios en general, a
        discreci&oacute;n exclusiva de Plataforma Megapro, sin previo aviso.
        Puede dejar de utilizar el Servicio en cualquier momento. No es
        necesario que informe espec&iacute;ficamente a Plataforma Megapro cuando
        deje de usar el Servicio. Usted reconoce y acepta que si Plataforma
        Megapro deshabilita el acceso a su cuenta, es posible que no pueda
        acceder al Servicio, los detalles de su cuenta o cualquier archivo u
        otro material contenido en su cuenta. Si decidimos cambiar nuestros
        T&eacute;rminos y condiciones, publicaremos esos cambios en esta
        p&aacute;gina y / o actualizaremos la fecha de modificaci&oacute;n de
        los T&eacute;rminos y condiciones a continuaci&oacute;n.</span
      >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <h1 class="c2" id="h.uj0ir26emqnh">
    <span class="c6">Modificaciones a nuestra plataforma</span>
  </h1>
  <p class="c5">
      <span class="c1"
      >Plataforma Megapro se reserva el derecho de modificar, suspender o
        interrumpir, temporal o permanentemente, la plataforma o cualquier
        servicio al que se conecte, con o sin previo aviso y sin responsabilidad
        ante usted.</span
      >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <h1 class="c2" id="h.tts0szvm21ds">
    <span class="c6">Actualizaciones a nuestra plataforma</span>
  </h1>
  <p class="c5">
      <span class="c1"
      >Plataforma Megapro puede, de vez en cuando, proporcionar mejoras a las
        caracter&iacute;sticas / funcionalidad de la plataforma, que pueden
        incluir parches, correcci&oacute;n de errores, actualizaciones, mejoras
        y otras modificaciones (&quot;Actualizaciones&quot;). Las
        actualizaciones pueden modificar o eliminar ciertas
        caracter&iacute;sticas y / o funcionalidades de la plataforma. Usted
        acepta que Plataforma Megapro no tiene la obligaci&oacute;n de (i)
        proporcionar Actualizaciones, o (ii) continuar proporcion&aacute;ndole o
        habilitando caracter&iacute;sticas y / o funcionalidades particulares de
        la plataforma. Adem&aacute;s, acepta que todas las Actualizaciones (i)
        se considerar&aacute;n una parte integral de la plataforma y (ii)
        estar&aacute;n sujetas a los t&eacute;rminos y condiciones de este
        Acuerdo.</span
      >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <h1 class="c2" id="h.9xqc053hyzom">
    <span class="c6">Servicios de Terceros</span>
  </h1>
  <p class="c5">
      <span class="c1"
      >Podemos mostrar, incluir o poner a disposici&oacute;n contenido de
        terceros (incluidos datos, informaci&oacute;n, aplicaciones y otros
        servicios de productos) o proporcionar enlaces a sitios web o servicios
        de terceros (&quot;Servicios de terceros&quot;). Usted reconoce y acepta
        que Plataforma Megapro no ser&aacute; responsable de ning&uacute;n
        Servicio de terceros, incluida su precisi&oacute;n, integridad,
        puntualidad, validez, cumplimiento de los derechos de autor, legalidad,
        decencia, calidad o cualquier otro aspecto de los mismos. Plataforma
        Megapro no asume ni tendr&aacute; ninguna obligaci&oacute;n o
        responsabilidad ante usted o cualquier otra persona o entidad por los
        Servicios de terceros. Los Servicios de terceros y los enlaces a los
        mismos se brindan &uacute;nicamente para su conveniencia y usted accede
        a ellos y los usa completamente bajo su propio riesgo y sujeto a los
        t&eacute;rminos y condiciones de dichos terceros.</span
      >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <h1 class="c2" id="h.pifowuc3buqt">
    <span class="c6">Duraci&oacute;n y Terminaci&oacute;n</span>
  </h1>
  <p class="c5">
      <span class="c1"
      >Este Acuerdo permanecer&aacute; en vigor hasta que usted o Plataforma
        Megapro lo rescindan. Plataforma Megapro puede, a su entera
        discreci&oacute;n, en cualquier momento y por cualquier motivo o sin
        &eacute;l, suspender o rescindir este Acuerdo con o sin previo aviso.
        Este Acuerdo terminar&aacute; inmediatamente, sin previo aviso de
        Plataforma Megapro, en caso de que no cumpla con alguna de las
        disposiciones de este Acuerdo. Tambi&eacute;n puede rescindir este
        Acuerdo eliminando la plataforma y todas las copias del mismo de su
        computadora. Tras la rescisi&oacute;n de este Acuerdo, deber&aacute;
        dejar de utilizar la plataforma y eliminar todas las copias de la
        plataforma de su computadora. La rescisi&oacute;n de este Acuerdo no
        limitar&aacute; ninguno de los derechos o recursos de Plataforma Megapro
        por ley o en equidad en caso de incumplimiento por su parte (durante la
        vigencia de este Acuerdo) de cualquiera de sus obligaciones en virtud
        del presente Acuerdo.</span
      >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <h1 class="c2" id="h.gunnam3rxcq1">
    <span class="c6">Aviso de infracci&oacute;n de Derechos de Autor</span>
  </h1>
  <p class="c5">
      <span class="c1"
      >Si usted es propietario de los derechos de autor o el agente de dicho
        propietario y cree que cualquier material de nuestra plataforma
        constituye una infracci&oacute;n de sus derechos de autor,
        comun&iacute;quese con nosotros y proporcione la siguiente
        informaci&oacute;n: (a) una firma f&iacute;sica o electr&oacute;nica del
        propietario de los derechos de autor o una persona autorizada para
        actuar en su nombre; (b) identificaci&oacute;n del material que se alega
        infringe; (c) su informaci&oacute;n de contacto, incluida su
        direcci&oacute;n, n&uacute;mero de tel&eacute;fono y un correo
        electr&oacute;nico; (d) una declaraci&oacute;n suya de que cree de buena
        fe que el uso del material no est&aacute; autorizado por los
        propietarios de los derechos de autor; y (e) la declaraci&oacute;n de
        que la informaci&oacute;n en la notificaci&oacute;n es precisa y, bajo
        pena de perjurio, usted est&aacute; autorizado a actuar en nombre del
        propietario.</span
      >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <h1 class="c2" id="h.ax68m3am3h50">
    <span class="c6">Indemnizaci&oacute;n</span>
  </h1>
  <p class="c5">
      <span class="c1"
      >Usted acepta indemnizar y eximir de responsabilidad a Plataforma
        Megapro y a sus empresas matrices, subsidiarias, afiliadas,
        funcionarios, empleados, agentes, socios y otorgantes de licencias (si
        corresponde) de cualquier reclamo o demanda, incluidos los honorarios
        razonables de abogados, debido a que surja de su: (a) uso de la
        plataforma; (b) violaci&oacute;n de este Acuerdo o cualquier ley o
        reglamento; o (c) violaci&oacute;n de cualquier derecho de un
        tercero.</span
      >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <h1 class="c2" id="h.lfsgq7hpkshg">
    <span class="c6">Sin garant&iacute;as</span>
  </h1>
  <p class="c5">
      <span class="c1"
      >La plataforma se le proporciona &quot;TAL CUAL&quot; y
        &quot;SEG&Uacute;N DISPONIBILIDAD&quot; y con todas las fallas y
        defectos sin garant&iacute;a de ning&uacute;n tipo. En la medida
        m&aacute;xima permitida por la ley aplicable, Plataforma Megapro, en su
        propio nombre y en nombre de sus afiliados y sus respectivos
        licenciantes y proveedores de servicios, renuncia expresamente a todas
        las garant&iacute;as, ya sean expresas, impl&iacute;citas, legales o de
        otro tipo, con con respecto a la plataforma, incluidas todas las
        garant&iacute;as impl&iacute;citas de comerciabilidad, idoneidad para un
        prop&oacute;sito particular, t&iacute;tulo y no infracci&oacute;n, y
        garant&iacute;as que puedan surgir del curso del trato, el curso del
        desempe&ntilde;o, el uso o la pr&aacute;ctica comercial. Sin
        limitaci&oacute;n a lo anterior, Plataforma Megapro no ofrece
        garant&iacute;a ni compromiso, y no hace ninguna representaci&oacute;n
        de ning&uacute;n tipo de que la plataforma cumplir&aacute; con sus
        requisitos, lograr&aacute; los resultados previstos, ser&aacute;
        compatible o funcionar&aacute; con cualquier otro software, sitios web,
        sistemas o servicios, operen sin interrupciones, cumplan con los
        est&aacute;ndares de rendimiento o confiabilidad o que no tengan errores
        o que cualquier error o defecto puede o ser&aacute; corregido.</span
      >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <p class="c5">
      <span class="c1"
      >Sin limitar lo anterior, ni Plataforma Megapro ni ning&uacute;n
        proveedor de Plataforma Megapro hace ninguna representaci&oacute;n o
        garant&iacute;a de ning&uacute;n tipo, expresa o impl&iacute;cita: (i)
        en cuanto al funcionamiento o disponibilidad de la plataforma, o la
        informaci&oacute;n, contenido y materiales o productos incluidos en el
        mismo; (ii) que la plataforma ser&aacute; ininterrumpida o libre de
        errores; (iii) en cuanto a la precisi&oacute;n, confiabilidad o vigencia
        de cualquier informaci&oacute;n o contenido proporcionado a
        trav&eacute;s de la plataforma; o (iv) que la plataforma, sus
        servidores, el contenido o los correos electr&oacute;nicos enviados
        desde o en nombre de Plataforma Megapro est&aacute;n libres de virus,
        scripts, troyanos, gusanos, malware, bombas de tiempo u otros
        componentes nocivos. Algunas jurisdicciones no permiten la
        exclusi&oacute;n o las limitaciones de las garant&iacute;as
        impl&iacute;citas o las limitaciones de los derechos legales aplicables
        de un consumidor, por lo que algunas o todas las exclusiones y
        limitaciones anteriores pueden no aplicarse en su caso.</span
      >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <h1 class="c2" id="h.soxmhovud9l6">
    <span class="c6">Limitaci&oacute;n de Responsabilidad</span>
  </h1>
  <p class="c5">
      <span class="c1"
      >Sin perjuicio de los da&ntilde;os en los que pueda incurrir, la
        responsabilidad total de Plataforma Megapro y cualquiera de sus
        proveedores en virtud de cualquier disposici&oacute;n de este Acuerdo y
        su recurso exclusivo por todo lo anterior se limitar&aacute; al monto
        realmente pagado por usted para la plataforma. En la m&aacute;xima
        medida permitida por la ley aplicable, en ning&uacute;n caso Plataforma
        Megapro o sus proveedores ser&aacute;n responsables de ning&uacute;n
        da&ntilde;o especial, incidental, indirecto o consecuente de
        ning&uacute;n tipo (incluidos, entre otros, da&ntilde;os por lucro
        cesante, por p&eacute;rdida de datos u otra informaci&oacute;n, por
        interrupci&oacute;n del negocio, por lesiones personales, por la
        p&eacute;rdida de privacidad que surja de alguna manera relacionada con
        el uso o la imposibilidad de usar la plataforma, software de terceros y
        / o - hardware de terceros utilizado con la plataforma, o de otro modo
        en relaci&oacute;n con cualquier disposici&oacute;n de este Acuerdo),
        incluso si Plataforma Megapro o cualquier proveedor ha sido informado de
        la posibilidad de tales da&ntilde;os e incluso si el recurso no cumple
        con su prop&oacute;sito esencial. Algunos estados / jurisdicciones no
        permiten la exclusi&oacute;n o limitaci&oacute;n de da&ntilde;os
        incidentales o consecuentes, por lo que es posible que la
        limitaci&oacute;n o exclusi&oacute;n anterior no se aplique en su
        caso.</span
      >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <h1 class="c2" id="h.dr6c1rlqf2x1">
    <span class="c6">Divisibilidad</span>
  </h1>
  <p class="c5">
      <span class="c1"
      >Si alguna disposici&oacute;n de este Acuerdo se considera inaplicable o
        inv&aacute;lida, dicha disposici&oacute;n se cambiar&aacute; e
        interpretar&aacute; para lograr los objetivos de dicha
        disposici&oacute;n en la mayor medida posible seg&uacute;n la ley
        aplicable y las disposiciones restantes continuar&aacute;n en pleno
        vigor y efecto. Este Acuerdo, junto con la Pol&iacute;tica de privacidad
        y cualquier otro aviso legal publicado por Plataforma Megapro en los
        Servicios, constituir&aacute; el acuerdo completo entre usted y
        Plataforma Megapro con respecto a los Servicios. Si alguna
        disposici&oacute;n de este Acuerdo es considerada inv&aacute;lida por un
        tribunal de jurisdicci&oacute;n competente, la invalidez de dicha
        disposici&oacute;n no afectar&aacute; la validez de las disposiciones
        restantes de este Acuerdo, que permanecer&aacute;n en pleno vigor y
        efecto. Ninguna renuncia a cualquier t&eacute;rmino de este Acuerdo se
        considerar&aacute; una renuncia adicional o continua de dicho
        t&eacute;rmino o cualquier otro t&eacute;rmino, y el hecho de que no
        haga valer ning&uacute;n derecho o disposici&oacute;n en virtud de este
        Acuerdo no constituir&aacute; una renuncia a dicho derecho. o
        provisi&oacute;n. USTED Y ACEPTAN QUE CUALQUIER CAUSA DE ACCI&Oacute;N
        QUE SURJA O EST&Eacute; RELACIONADA CON LOS SERVICIOS DEBE COMENZAR
        DENTRO DE UN (1) A&Ntilde;O DESPU&Eacute;S DE QUE LA CAUSA DE
        ACCI&Oacute;N SE ACUERDA. DE LO CONTRARIO, DICHA CAUSA DE ACCI&Oacute;N
        EST&Aacute; PERMANENTEMENTE PROHIBIDA.</span
      >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <h1 class="c2" id="h.u6k6j583gvkw"><span class="c6">Renuncia</span></h1>
  <p class="c5">
      <span class="c1"
      >Salvo lo dispuesto en el presente, el hecho de no ejercer un derecho o
        exigir el cumplimiento de una obligaci&oacute;n en virtud de este
        Acuerdo no afectar&aacute; la capacidad de una de las partes para
        ejercer dicho derecho o requerir dicho cumplimiento en cualquier momento
        posterior, ni constituir&aacute; la renuncia a una infracci&oacute;n.
        cualquier incumplimiento posterior.</span
      >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <p class="c5">
      <span class="c1"
      >Ninguna falla en el ejercicio, ni demora en el ejercicio, por parte de
        cualquiera de las partes, de cualquier derecho o poder bajo este Acuerdo
        operar&aacute; como una renuncia a ese derecho o poder. El ejercicio
        &uacute;nico o parcial de cualquier derecho o poder en virtud de este
        Acuerdo tampoco impedir&aacute; el ejercicio posterior de ese o
        cualquier otro derecho otorgado en este documento. En caso de conflicto
        entre este Acuerdo y cualquier compra u otros t&eacute;rminos
        aplicables, regir&aacute;n los t&eacute;rminos de este Acuerdo.</span
      >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <h1 class="c2" id="h.m3je4r9f4lfd">
    <span class="c6">Enmiendas a este Acuerdo</span>
  </h1>
  <p class="c5">
      <span class="c1"
      >Plataforma Megapro se reserva el derecho, a su entera
        discreci&oacute;n, de modificar o reemplazar este Acuerdo en cualquier
        momento. Si una revisi&oacute;n es importante, proporcionaremos un aviso
        de al menos 30 d&iacute;as antes de que entren en vigencia los nuevos
        t&eacute;rminos. Lo que constituye un cambio material se
        determinar&aacute; a nuestro exclusivo criterio. Si contin&uacute;a
        accediendo o utilizando nuestra plataforma despu&eacute;s de que las
        revisiones entren en vigencia, usted acepta estar sujeto a los
        t&eacute;rminos revisados. Si no est&aacute; de acuerdo con los nuevos
        t&eacute;rminos, ya no est&aacute; autorizado para usar Plataforma
        Megapro.</span
      >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <h1 class="c2" id="h.9n4trijhttey">
    <span class="c6">Acuerdo completo</span>
  </h1>
  <p class="c5">
      <span class="c1"
      >El Acuerdo constituye el acuerdo completo entre usted y Plataforma
        Megapro con respecto a su uso de la plataforma y reemplaza todos los
        acuerdos escritos u orales anteriores y contempor&aacute;neos entre
        usted y Plataforma Megapro. Es posible que est&eacute; sujeto a
        t&eacute;rminos y condiciones adicionales que se aplican cuando usa o
        compra otros servicios de Plataforma Megapro, que Plataforma Megapro le
        proporcionar&aacute; en el momento de dicho uso o compra.</span
      >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <h1 class="c2" id="h.y0u1vvlw7611">
    <span class="c6">Actualizaciones de nuestros T&eacute;rminos</span>
  </h1>
  <p class="c5">
      <span class="c1"
      >Podemos cambiar nuestro Servicio y nuestras pol&iacute;ticas, y es
        posible que debamos realizar cambios en estos T&eacute;rminos para que
        reflejen con precisi&oacute;n nuestro Servicio y nuestras
        pol&iacute;ticas. A menos que la ley exija lo contrario, le
        notificaremos (por ejemplo, a trav&eacute;s de nuestro Servicio) antes
        de realizar cambios en estos T&eacute;rminos y le daremos la oportunidad
        de revisarlos antes de que entren en vigencia. Luego, si contin&uacute;a
        utilizando el Servicio, estar&aacute; sujeto a los T&eacute;rminos
        actualizados. Si no desea aceptar estos o alguno de los T&eacute;rminos
        actualizados, puede eliminar su cuenta.</span
      >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <h1 class="c2" id="h.8bxaw3vhauhu">
    <span class="c6">Propiedad intelectual</span>
  </h1>
  <p class="c5">
      <span class="c1"
      >La plataforma y todo su contenido, caracter&iacute;sticas y
        funcionalidad (que incluyen, entre otros, toda la informaci&oacute;n,
        software, texto, pantallas, im&aacute;genes, video y audio, y el
        dise&ntilde;o, selecci&oacute;n y disposici&oacute;n de los mismos), son
        propiedad de Plataforma Megapro, sus licenciantes u otros proveedores de
        dicho material y est&aacute;n protegidos por Ecuador y leyes
        internacionales de derechos de autor, marcas registradas, patentes,
        secretos comerciales y otras leyes de propiedad intelectual o derechos
        de propiedad. El material no puede ser copiado, modificado, reproducido,
        descargado o distribuido de ninguna manera, en su totalidad o en parte,
        sin el permiso previo expreso por escrito de Plataforma Megapro, a menos
        que y excepto que se indique expresamente en estos T&eacute;rminos y
        Condiciones. Se proh&iacute;be cualquier uso no autorizado del
        material.</span
      >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <h1 class="c2" id="h.cojdtehocgo4">
    <span class="c6">Acuerdo de Arbitraje</span>
  </h1>
  <p class="c5">
      <span class="c1"
      >&nbsp;Esta secci&oacute;n se aplica a cualquier disputa, EXCEPTO QUE NO
        INCLUYE UNA DISPUTA RELACIONADA CON RECLAMOS POR RECURSOS INJUNTIVOS O
        EQUITATIVOS CON RESPECTO A LA EJECUCI&Oacute;N O VALIDEZ DE SUS DERECHOS
        DE PROPIEDAD INTELECTUAL O DE Plataforma Megapro. El t&eacute;rmino
        &quot;disputa&quot; significa cualquier disputa, acci&oacute;n u otra
        controversia entre usted y Plataforma Megapro en relaci&oacute;n con los
        Servicios o este acuerdo, ya sea en contrato, garant&iacute;a, agravio,
        estatuto, regulaci&oacute;n, ordenanza o cualquier otra base legal o
        equitativa. &quot;Disputa&quot; tendr&aacute; el significado m&aacute;s
        amplio posible permitido por la ley.</span
      >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <h1 class="c2" id="h.acpt95xc955z">
    <span class="c6">Aviso de Disputa</span>
  </h1>
  <p class="c5">
      <span class="c1"
      >&nbsp;En el caso de una disputa, usted o Plataforma Megapro deben darle
        al otro un Aviso de Disputa, que es una declaraci&oacute;n escrita que
        establece el nombre, la direcci&oacute;n y la informaci&oacute;n de
        contacto de la parte que la proporcion&oacute;, los hechos que dieron
        lugar a la disputa y la reparaci&oacute;n solicitada. Debe enviar
        cualquier Aviso de disputa por correo electr&oacute;nico a:
        registromegapro@gmail.com. Plataforma Megapro le enviar&aacute;
        cualquier Aviso de disputa por correo a su direcci&oacute;n si la
        tenemos, o de otra manera a su direcci&oacute;n de correo
        electr&oacute;nico. Usted y Plataforma Megapro intentar&aacute;n
        resolver cualquier disputa mediante una negociaci&oacute;n informal
        dentro de los sesenta (60) d&iacute;as a partir de la fecha en que se
        env&iacute;e la Notificaci&oacute;n de disputa. Despu&eacute;s de
        sesenta (60) d&iacute;as, usted o Plataforma Megapro pueden comenzar el
        arbitraje.</span
      >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <h1 class="c2" id="h.ktkxzvev5ktq">
    <span class="c6">Arbitraje Obligatorio</span>
  </h1>
  <p class="c5">
      <span class="c1"
      >&nbsp;Si usted y Plataforma Megapro no resuelven ninguna disputa
        mediante una negociaci&oacute;n informal, cualquier otro esfuerzo para
        resolver la disputa se llevar&aacute; a cabo exclusivamente mediante
        arbitraje vinculante como se describe en esta secci&oacute;n.
        Est&aacute; renunciando al derecho de litigar (o participar como parte o
        miembro de la clase) todas las disputas en la corte ante un juez o
        jurado. La disputa se resolver&aacute; mediante arbitraje vinculante de
        acuerdo con las reglas de arbitraje comercial de la Asociaci&oacute;n
        Americana de Arbitraje. Cualquiera de las partes puede buscar medidas
        cautelares provisionales o preliminares de cualquier tribunal de
        jurisdicci&oacute;n competente, seg&uacute;n sea necesario para proteger
        los derechos o la propiedad de las partes en espera de la
        finalizaci&oacute;n del arbitraje. Todos y cada uno de los costos,
        honorarios y gastos legales, contables y de otro tipo en los que incurra
        la parte ganadora correr&aacute;n a cargo de la parte no ganadora.</span
      >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <h1 class="c2" id="h.4a561g29e0g1">
    <span class="c6">Env&iacute;os y Privacidad</span>
  </h1>
  <p class="c5">
      <span class="c1"
      >En el caso de que env&iacute;e o publique ideas, sugerencias creativas,
        dise&ntilde;os, fotograf&iacute;as, informaci&oacute;n, anuncios, datos
        o propuestas, incluidas ideas para productos, servicios, funciones,
        tecnolog&iacute;as o promociones nuevos o mejorados, acepta expresamente
        que dichos env&iacute;os se realizar&aacute;n autom&aacute;ticamente.
        ser&aacute; tratado como no confidencial y no propietario y se
        convertir&aacute; en propiedad exclusiva de Plataforma Megapro sin
        ning&uacute;n tipo de compensaci&oacute;n o cr&eacute;dito para usted.
        Plataforma Megapro y sus afiliados no tendr&aacute;n obligaciones con
        respecto a dichos env&iacute;os o publicaciones y pueden usar las ideas
        contenidas en dichos env&iacute;os o publicaciones para cualquier
        prop&oacute;sito en cualquier medio a perpetuidad, incluyendo, pero no
        limitado a desarrollo, fabricaci&oacute;n, y comercializar productos y
        servicios utilizando tales ideas.</span
      >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <h1 class="c2" id="h.971uuzqcpyrv"><span class="c6">Promociones</span></h1>
  <p class="c5">
      <span class="c1"
      >Plataforma Megapro puede, de vez en cuando, incluir concursos,
        promociones, sorteos u otras actividades (&quot;Promociones&quot;) que
        requieren que env&iacute;e material o informaci&oacute;n sobre usted.
        Tenga en cuenta que todas las promociones pueden regirse por reglas
        independientes que pueden contener ciertos requisitos de elegibilidad,
        como restricciones de edad y ubicaci&oacute;n geogr&aacute;fica. Usted
        es responsable de leer todas las reglas de Promociones para determinar
        si es elegible para participar o no. Si participa en alguna
        Promoci&oacute;n, acepta cumplir con todas las Reglas de promociones. Es
        posible que se apliquen t&eacute;rminos y condiciones adicionales a las
        compras de bienes o servicios a trav&eacute;s de los Servicios, cuyos
        t&eacute;rminos y condiciones forman parte de este Acuerdo mediante esta
        referencia.</span
      >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <h1 class="c2" id="h.aps58lkwn697">
    <span class="c6">Errores Tipogr&aacute;ficos</span>
  </h1>
  <p class="c5">
      <span class="c1"
      >En el caso de que un producto y / o servicio se enumere a un precio
        incorrecto o con informaci&oacute;n incorrecta debido a un error
        tipogr&aacute;fico, tendremos el derecho de rechazar o cancelar
        cualquier pedido realizado para el producto y / o servicio enumerado al
        precio incorrecto. Tendremos derecho a rechazar o cancelar cualquier
        pedido, ya sea que se haya confirmado o no y se haya cargado a su
        tarjeta de cr&eacute;dito. Si su tarjeta de cr&eacute;dito ya ha sido
        cargada por la compra y su pedido es cancelado, emitiremos
        inmediatamente un cr&eacute;dito a su cuenta de tarjeta de
        cr&eacute;dito u otra cuenta de pago por el monto del cargo.</span
      >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <h1 class="c2" id="h.a2uz7gugfzj4"><span class="c6">Diverso</span></h1>
  <p class="c5">
      <span class="c1"
      >Si por alguna raz&oacute;n un tribunal de jurisdicci&oacute;n
        competente determina que alguna disposici&oacute;n o parte de estos
        T&eacute;rminos y condiciones no se puede hacer cumplir, el resto de
        estos T&eacute;rminos y condiciones continuar&aacute; en pleno vigor y
        efecto. Cualquier renuncia a cualquier disposici&oacute;n de estos
        T&eacute;rminos y condiciones ser&aacute; efectiva solo si est&aacute;
        por escrito y firmada por un representante autorizado de Plataforma
        Megapro. Plataforma Megapro tendr&aacute; derecho a una medida cautelar
        u otra compensaci&oacute;n equitativa (sin la obligaci&oacute;n de
        depositar ninguna fianza o garant&iacute;a) en caso de incumplimiento
        anticipado por su parte. Plataforma Megapro opera y controla el Servicio
        Plataforma Megapro desde sus oficinas en Ecuador. El Servicio no
        est&aacute; destinado a ser distribuido ni utilizado por ninguna persona
        o entidad en ninguna jurisdicci&oacute;n o pa&iacute;s donde dicha
        distribuci&oacute;n o uso sea contrario a la ley o regulaci&oacute;n. En
        consecuencia, las personas que eligen acceder al Servicio Plataforma
        Megapro desde otras ubicaciones lo hacen por iniciativa propia y son las
        &uacute;nicas responsables del cumplimiento de las leyes locales, en la
        medida en que las leyes locales sean aplicables. Estos T&eacute;rminos y
        condiciones (que incluyen e incorporan la Pol&iacute;tica de privacidad
        de Plataforma Megapro) contienen el entendimiento completo y reemplazan
        todos los entendimientos previos entre usted y Plataforma Megapro con
        respecto a su tema, y &#8203;&#8203;usted no puede cambiarlos ni
        modificarlos. . Los t&iacute;tulos de las secciones que se utilizan en
        este Acuerdo son solo por conveniencia y no se les dar&aacute; ninguna
        importancia legal.</span
      >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <h1 class="c2" id="h.hmuyfvpszjco">
    <span class="c6">Descargo de Responsabilidad</span>
  </h1>
  <p class="c5">
      <span class="c1"
      >Plataforma Megapro no es responsable de ning&uacute;n contenido,
        c&oacute;digo o cualquier otra imprecisi&oacute;n. Plataforma Megapro no
        ofrece garant&iacute;as. En ning&uacute;n caso ser&aacute; responsable
        de ning&uacute;n da&ntilde;o especial, directo, indirecto, consecuente o
        incidental o de cualquier da&ntilde;o, ya sea en una acci&oacute;n
        contractual, negligencia u otro agravio, que surja de o en
        conexi&oacute;n con el uso del Servicio o el contenido del Servicio. se
        reserva el derecho de realizar adiciones, eliminaciones o modificaciones
        al contenido del Servicio en cualquier momento sin previo aviso.</span
      >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <p class="c5">
      <span class="c1"
      >El Servicio y su contenido se proporcionan &quot;tal cual&quot; y
        &quot;seg&uacute;n est&eacute; disponible&quot; sin ninguna
        garant&iacute;a o representaci&oacute;n de ning&uacute;n tipo, ya sea
        expresa o impl&iacute;cita. es un distribuidor y no un editor del
        contenido proporcionado por terceros; como tal, no ejerce ning&uacute;n
        control editorial sobre dicho contenido y no ofrece ninguna
        garant&iacute;a o representaci&oacute;n en cuanto a la precisi&oacute;n,
        confiabilidad o vigencia de cualquier informaci&oacute;n, contenido,
        servicio o mercanc&iacute;a proporcionada o accesible a trav&eacute;s
        del Servicio . Sin limitar lo anterior, renuncia espec&iacute;ficamente
        a todas las garant&iacute;as y representaciones en cualquier contenido
        transmitido en conexi&oacute;n con el Servicio o en sitios que pueden
        aparecer como enlaces en el Servicio , o en los productos proporcionados
        como parte o en relaci&oacute;n con el Servicio , incluidas, entre
        otras, las garant&iacute;as de comerciabilidad, idoneidad para un
        prop&oacute;sito particular o no infracci&oacute;n de derechos de
        terceros. Ning&uacute;n consejo oral o informaci&oacute;n escrita
        proporcionada por o cualquiera de sus afiliados, empleados,
        funcionarios, directores, agentes o similares crear&aacute; una
        garant&iacute;a. La informaci&oacute;n sobre precios y disponibilidad
        est&aacute; sujeta a cambios sin previo aviso. Sin limitar lo anterior,
        no garantiza que el Servicio de sea ininterrumpido, sin
        corrupci&oacute;n, oportuno o sin errores.</span
      >
  </p>
  <p class="c3"><span class="c1"></span></p>
  <h1 class="c2" id="h.439re75ctpgn">
    <span class="c6">Cont&aacute;ctenos</span>
  </h1>
  <p class="c5">
    <span class="c1">No dude en contactarnos si tiene alguna pregunta.</span>
  </p>
  <ul class="c11 lst-kix_l5blw28xb86q-0 start">
    <li class="c0 li-bullet-0">
        <span class="c1"
        >A trav&eacute;s de correo electr&oacute;nico:
          registromegapro@gmail.com</span
        >
    </li>
    <li class="c0 li-bullet-0">
        <span class="c1"
        >A trav&eacute;s de esta direcci&oacute;n: Guayaquil - Guayas -
          Ecuador</span
        >
    </li>
  </ul>
  <p class="c10"><span class="c1"></span></p>
</div>
