<app-loader *ngIf="loading"></app-loader>
<ng-template [ngIf]="!loading">
  <div class="container">
    <div class="row">
      <div class="col-8 mx-auto">
        <app-question-card *ngFor="let question of questions" [question]="question"></app-question-card>
      </div>
    </div>
    <div class="row my-4">
      <div class="col-12">
        <app-paginator
          [initialPage]="currentPage"
          [totalItems]="totalItems"
          [maxPages]="5"
          (changePage)="onChangePage($event)"
        ></app-paginator>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</ng-template>



