<div class="container-fluid">
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-lg-5 col-12">
      <div class="card shadow-sm">
        <img
          style="height: 200px; width: 200px"
          class="card-img-top mx-auto my-2"
          src="https://cdn-icons-png.flaticon.com/512/752/752688.png"
          alt="">
        <div class="card-body">
          <h5 class="card-title text-center">PLATAFORMA MEGAPRO</h5>
          <h6 class="card-subtitle text-center small text-secondary">Iniciar sesión administración de la plataforma</h6>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Usuario</label>
            <input type="email" class="form-control" id="exampleInputEmail1"
                   placeholder="Ingrese su usuario"
                   aria-describedby="validate-email"
                   [(ngModel)]="email"
                   [ngClass]="{'is-invalid': submited && !email}"
            >
            <div *ngIf="submited && !email" id="validate-email" class="invalid-feedback">
              El email debe ser válido
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Clave</label>
            <input [type]="inputType" placeholder="Ingrese su clave"
                   class="form-control" id="exampleInputPassword1"
                   [(ngModel)]="password"
                   [ngClass]="{'is-invalid': submited && !password}"
            >
            <div *ngIf="submited && !password" id="validate-password" class="invalid-feedback">
              La clave debe ser válida
            </div>
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" (change)="onShowPassword()" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Mostrar clave</label>
          </div>
          <button class="btn btn-primary w-100" (click)="onLogin()">Iniciar</button>
        </div>
      </div>
    </div>
  </div>

</div>

<button (click)="onLogout()">Logout</button>



