<app-loader  *ngIf="loading; else content"></app-loader>
<ng-template #content>
<div class="animate__animated animate__fadeIn">
  <app-header></app-header>

  <app-carousel [items]="carouselItems"></app-carousel>
  <div class="bg-about text-white container-fluid p-4">
    <h1 class="p-4 text-center animate__animated animate__zoomIn">Plataforma de Simuladores <strong>MEGAPRO</strong></h1>
    <div class="row">
      <div class="col-6">
        <p class="text-justify animate__animated animate__zoomIn">
          Nuestros cursos son completos e incluyen todos los Dominios del examen, aula virtual, repositorio de clases grabadas, especialistas en todas las áreas de estudio, acompañamiento hasta el día de la prueba, asesoría para el proceso de inscripción. “Megapro te acompaña desde el inicio hasta el Final.”
        </p>
      </div>
      <div class="col-6">
     <p class="text-justify animate__animated animate__zoomIn">
       Nuestro MEGA EQUIPO, es un grupo de profesionales altamente capacitados, especialistas en sus respectivas áreas de estudio, garantizando siempre el mejor de los resultados.
     </p>
      </div>
    </div>
  </div>

  <div class="container my-5">
    <h3 class="text-center mb-4 scroll-content fadeTop"><strong class="font-header">TEMARIO TRANSFORMAR DISPONIBLE</strong></h3>
    <div class="row d-flex justify-content-center scroll-content fadeTop">
      <div class="col-sm-6 col-lg-4 col-12 mb-4" *ngFor="let item of cardsInfo" >
        <app-card [cardInfo]="item" ></app-card>
      </div>
    </div>
  </div>

  <div class="container my-5">
    <h3 class="text-center mb-4 scroll-content fadeTop font-s0blt"><strong>NUESTROS CURSOS DISPONIBLES</strong></h3>
    <div class="row d-flex justify-content-center scroll-content fadeTop">
      <div class="col-sm-6 col-lg-4 col-12 mb-4" *ngFor="let item of coursesInfo" >
        <app-card [cardInfo]="item" ></app-card>
      </div>
    </div>
  </div>


  <app-footer></app-footer>
</div>

</ng-template>

