<div class="container-fluid">
  <div class="row my-4">
    <div class="col-12 mx-auto">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <span class="bg-primary shadow-sm h1 text-white rounded-circle p-2"><strong>KC</strong></span>
            </div>
            <h3 class="font-bold my-2 text-center">KEVIN CATUCUAMBA</h3>

            <div class="col-12 col-sm-6 border border-1 pt-2">
              <p><strong>Cédula: </strong>1050309275</p>
              <p><strong>Estudiante: </strong>Kevin Catucuamba</p>
              <p><strong>Email: </strong> catucuambakevin@gmail.com</p>
              <p><strong>Teléfono: </strong> 0991744850</p>
              <p><strong>Estado: </strong><span class="badge bg-success">Activo</span></p>
            </div>
            <div class="col-12 col-sm-6 border border-1 pt-2">
              <p><strong>Creado: </strong>23 de julio 2022, 08:30</p>
              <p><strong>Curso: </strong>TEST TRANSFORMAR MEGAFLASH</p>
              <p><strong>Información: </strong>LUNES A VIERNES PRESENCIAL - GUAYAQUIL</p>
              <p><strong>Puntuación: </strong>7.4 / 10</p>
              <a class="btn btn-link btn-sm">Actualizar información</a>
            </div>

            <div class="col-12">
              <p-chart type="bar" [data]="basicData"></p-chart>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
<app-footer></app-footer>
