<div class="container-fluid">
  <div class="row d-flex justify-content-center mt-5 mb-5">
    <div class="col-lg-5 col-12">
      <div class="card shadow-sm animate__animated animate__fadeInDown">
        <img
          style="height: 90px; width: 90px"
          class="card-img-top mx-auto mt-2 "
          src="https://cdn-icons-png.flaticon.com/512/752/752688.png"
          alt="">

        <div  class="card-body">
          <h6 class="card-title text-center text-secondary mb-2">Plataforma Megapro</h6>
          <h6 class="card-subtitle text-center small text-secondary my-2">Restablecer contraseña</h6>
          <div class="alert alert-warning mt-2" role="alert">
            <ul class="mb-0">
              <li>1. Ingresa tu correo registrado para restablecer.</li>
              <li>2. Pulsa en <strong>restablecer</strong> y revisa tu correo para seguir las instrucciones.</li>
              <li><strong>Nota: </strong> Tu cuenta debe estar activa para recibir el correo.</li>
            </ul>
          </div>
          <div *ngIf="success" class="alert alert-success mt-2" role="alert">
            Revisa la bandeja de tu correo elecrtónico <strong>{{email}}</strong> para restablecer la contraseña.
          </div>
          <div *ngIf="!success" class="form-floating mb-3">
            <input type="email" class="form-control" id="email-reset"
                   placeholder="Ingrese su usuario" [(ngModel)]="email"
                   aria-describedby="validate-email"
                   [ngClass]="{'is-invalid': submited && !email}"
            >
            <label for="email-reset" [ngClass]="{'text-danger': submited && !email}">Correo</label>
            <span *ngIf="submited && !email" class="text-danger"><small>Usuario requerido (correo válido)</small></span>
          </div>
          <button *ngIf="!success" class="btn btn-primary w-100" (click)="onResetPassword()"
                  [disabled]="loading">{{loading ? 'Revisando ...' : 'Restablecer' }}</button>
          <button class="mt-2 btn btn-link mx-auto" [routerLink]="'/login'">Iniciar sesión</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
